{{#ifcond entity_kind "==" "Divider"}}
<span class="playlist-sidebar-entry playlist-sidebar-divider">{{ entity_id }}</span>
{{else}}
<a class="playlist-sidebar-entry playlist-sidebar-entry-link {{#if active }}active{{/if}}" href="#">
    <span class="icon-{{ entity_kind }}"></span>
    <span>
        {{!-- {{ entity_kind }}: --}}
        {{#if description }}
            {{ description }}
        {{else}}
            {{ entity_id }}
        {{/if}}
    </span>
</a>
{{/ifcond}}