    <div class="video-wrapper">

        <h3 class="title-header">

            {{#if dubs_available }}
                <select class="video-language-selector">
                    {{#each availability }}
                    <option value="{{ @key }}" {{#ifcond @key "==" ../selected_language }}selected{{/ifcond}}>
                        {{ language_name }}
                    </option>
                    {{/each}}
                </select>
            {{/if}}

            <span class="title">{{ title }}</span>

            {{#if description }}
            <span class="long-description">{{ description }}</span>
            {{/if}}

            <span class="motivational-feature points-container" style="display: none;">{{_ "Points" }}: <span class="points">0</span></span>

        </h3>

        <div class="clear"></div>

        <div class="video-player-container"></div>

    </div>
