
<div class="row" id="content-nextsteps-lesson">
	<a href="/learn/{{ path }}">
      <div class="col-xs-3">
        <center>
          {{#if thumbnail_url }}
          <img src="{{thumbnail_url}}" class="img-responsive">
          {{else}}
          <h1 class="icon-{{kind}} glyphicon-expand"></h1>
          {{/if}}
        </center>
      </div>

      <div class="col-xs-6">
          <h3>{{ topic.title }}:</h3>
          <p>{{ title }}</p>
      </div>
    </a>
    <!--The URL without the specific video, so that we see the path
    along the nav and show them the entire series-->
    <a href="/learn/{{ topic.path }}">
      <div class="col-xs-3">
          <h4>Series</h4>
          <span class="ns_series_arrow glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      </div>
    </a>
<hr class="module_divider">
</div>
