<div class="container card">
  <!--This is where the card title is-->
  <div class="row card-title">
      <div class="col-xs-9">
          <h1>Resume</h1>
      </div>
      <div class="col-xs-3">
      <h1 class="glyphicon glyphicon-play-circle" aria-hidden="true"></h1>
      </div>
      <hr class="module_divider"/>
  </div>
  <a href="/learn/{{ path }}">
    <!--Where the video thumbnail and description go-->
    <div id="content-resume-thumbnail">
            <div class="row">
              <center>
                <div class="col-xs-12"><h3>{{ title }}</h3></div>
              </center>
                <div class="col-xs-12">
                  <center>
                    {{#if content_urls.thumbnail }}
                      <img src="{{content_urls.thumbnail}}" class="img-responsive" alt="{{ truncate description 100 }}">
                    {{else}}
                      <h1 id="exercise-icon" class="icon-{{kind}} glyphicon-expand"></h1>
                    {{/if}}
                  </center>
                </div>

            </div>
            {{#if description }}
            <div class="row">
              <div class="col-xs-12"><h3>Description:</h3></div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <p>{{ truncate description 100 }}</p>
              </div>
            </div>
            {{/if}}
    </div>
  </a>
</div>
