<div id="video-player"{{#unless content_urls }} class="client-online-only"{{/unless}}>
    <video class="video-player video-js vjs-default-skin vjs-fullscreen" id="{{ random_id }}">
        <source src="{{ content_urls.stream }}" type="{{ content_urls.stream_type }}" />
        {{#each subtitle_urls }}
        <track kind="captions" src="{{ this.url }}" srclang="{{ code }}" label="{{ name }}" {{#ifcond code "==" ../selected_language }}{{#ifcond ../code "!=" "en" }}default="True"{{/ifcond}}{{/ifcond}}/>
        {{/each}}
    </video>
</div>

{{#unless content_urls }}<div class="not-client-online-only">{{_ "Sorry, this video has not been downloaded." }}</div>{{/unless}}