<h2 class="title-header">
    <div class="facility-name">{{_ "Current Units" }}</div>
</h2>
<p>{{_ 'This page shows the current unit selected for each Facility.' }}</p>
<p>{{_ 'Click on the "Previous" or "Next" buttons or the number links to select the current unit for the facility.' }}</p>
<br/>
<div class="row">
    <div class="span12">
        <table class="table table-hover table-bordered" id="current-units">
            <thead>
            <tr>
                <th>{{_ "Facility" }}</th>
                <th>{{_ "Current Unit" }}</th>
            </tr>
            </thead>
        </table>
    </div>
</div>