<h2 class="title-header">
    <div class="title">{{_ "Tests" }}</div>
</h2>
<p>{{_ "Click on the \"Enable Exam Mode\" button to enable exam-mode for that test and redirect students to the exam page." }}</p>
<p>{{_ "Click on the \"Disable Exam Mode\" button to disable the exam-mode setting for the test." }}</p>
<br/>
<div class="row span10">
    <table class="table table-hover table-bordered" id="tests">
        <thead>
            <tr>
                <th>{{_ "Test Title" }}</th>
                <th>{{_ "Exam Mode Setting" }}</th>
            </tr>
        </thead>
    </table>
</div>
<div class="modal fade" id="loading">
    <h2>{{_ "Exam mode is being changed: please do not leave this page until it has completed!" }}</h2>
</div>
