{{#ifcond entity_kind "==" "Divider"}}
<span class="sidebar-entry sidebar-divider">{{ entity_id }}</span>
{{else}}
<a class="sidebar-entry sidebar-entry-link {{#if active }}active-entry{{/if}} {{#unless available }}missing{{/unless}}" href="#" title="{{ description }}">
    <div class="sidebar-entry-header">

        <span class="sidebar-icon icon-{{ entity_kind }}" data-content-id="{{ id }}"></span>
        <span class="sidebar-title" data-content-id="{{ id }}">{{ title }}</span>
    </div>

    {{#unless organization}}
        <span class="sidebar-space-holder">  </span>
    {{else}}
        <span class="sidebar-organization">{{_ "by:" }} {{ organization }}</span>
    {{/unless}}
    <span class="sidebar-description sidebar-topic-description" data-content-id="{{ id }}">{{#truncate description 100 }}{{/truncate}}</span>
</a>
{{/ifcond}}