{{#ifcond entity_kind "==" "Divider"}}
<span class="sidebar-entry sidebar-divider">{{ entity_id }}</span>
{{else}}
<a class="sidebar-entry sidebar-entry-link {{#if active }}active{{/if}}" href="#" title="{{ description }}">
    <!-- <span class="icon-{{ entity_kind }}"></span> -->
    {{#ifcond entity_kind "==" "Video"}}
    <span class="sidebar-icon icon-video" data-video-id="{{ youtube_id }}"></span>
    <span class="sidebar-text" data-video-id="{{ youtube_id }}">{{ title }}</span>
    {{/ifcond}}
    {{#ifcond entity_kind "==" "Exercise"}}
    <span class="sidebar-icon icon-exercise" data-exercise-id="{{ entity_id }}"></span>
    <span class="sidebar-text" data-exercise-id="{{ entity_id }}">{{ title }}</span>
    {{/ifcond}}
    {{#ifcond entity_kind "==" "Quiz"}}
    <span class="sidebar-icon icon-quiz" data-quiz-id="{{ entity_id }}"></span>
    <span class="sidebar-text" data-quiz-id="{{ entity_id }}">{{ title }}</span>
    {{/ifcond}}
    {{#ifcond entity_kind "==" "Topic"}}
    <span class="sidebar-icon icon-list" data-topic-id="{{ id }}"></span>
    <span class="sidebar-text" data-topic-id="{{ id }}">{{ title }}</span>
    {{/ifcond}}
    {{#ifcond entity_kind "==" "Audio"}}
    <span class="sidebar-icon icon-audio" data-content-id="{{ content_id }}"></span>
    <span class="sidebar-text" data-content-id="{{ content_id }}">{{ title }}</span>
    {{/ifcond}}
</a>
{{/ifcond}}