<div id="coach_report_wrapper">
	<div id="summary_mainview">
		<h1 class="status_name">{{ status.facility_name }}{{#if status.group_name }}: {{ status.group_name }}{{/if}}</h1>
		<div class="topic-row">
			<div class="col-sm-6">
				  <label for="topic-list">{{_ "Topic:" }}</label>
				<div id="topic-list-div">
					<select id="topic-list" multiple="multiple">
					</select>
				</div>
				<button id="topic-list-submit" type="button" class="btn btn-primary btn-md">Submit</button>
			</div>
		</div>
		<h3>{{#if start_date}}{{ start_date }}{{#if end_date }} → {{ end_date }}{{/if}}{{else}}{{_ "This week" }}{{/if}}</h3>
		<div id="radial_chartblock" class="container">
			<div id="chartcontainer" class="row">
				<div class="circlechart" class="col-sm-4">
					<div id="full_circle1">
						<p id="full_circle1_p"></p>
					</div>
					<div class="charttext">
						{{_ "Hours spent on content vs total hours logged" }}
					</div>
				</div>
				<div class="circlechart" class="col-sm-4">
					<div id="full_circle2">
						<p>{{#if data.exercise_mastery }}{{ data.exercise_mastery }} %{{else}}{{_ "N/A" }}{{/if}}</p>
					</div>
					<div class="charttext">
						{{_ "Average progress in exercises" }}
					</div>
				</div>
				<div class="circlechart" class="col-sm-4">
					<div id="full_circle3">
						<p>{{#if data.exercise_attempts }}{{ data.exercise_attempts }}{{else}}{{_ "N/A" }}{{/if}}</p>
					</div>
					<div class="charttext">
						{{_ "Total exercise attempts" }}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h5 class="innerbar bartext">
					<strong>{{_ "Current status of user exercises" }}</strong>
				</h5>
				<div class="progressbar">
					<div class="innerbar col-md-3">
						  <label id="legendMargin" for="legend">{{_ "Key" }}</label>
				        <ul id="legend">
				        	<li class="barlegend"><div class="struggling"></div><span>{{_ "Struggling" }}</span></li>
				            <li class="barlegend"><div class="complete"></div><span>{{_ "Completed" }}</span></li>
				       		<li class="barlegend"><div class="partial"></div><span>{{_ "In Progress" }}</span></li>
			        	</ul>
		        	</div>
		        </div>
		        <div class="button col-md-6">
        			{{#if data.learner_events }}<button id="show_tabular_report" class="btn btn-success btn-lg">{{_ "Show Tabular Report" }}</button>{{/if}}
        		</div>
			</div>
		</div>
		{{#if learners }}
		<section>	
		<h1>{{_ "Student Activity Feed" }}</h1>
		  <div class="panel-container">	
		    <table class="panel">
		        {{#each learners }}
				  <tr>
				  	<th>{{ learner }}</th>
		            <td>{{#if struggling }}{{_ "Struggling" }}{{ else }}{{#if complete }}{{_ "Complete" }}{{/if}}{{/if}}</td>
					<td><a href="{{url "learn" }}{{ path }}">{{ exercise.title }}</a></td>  
					<td>{{ progress }}</td>  
					<td>{{#if complete }}
							<button class="praisebtn">{{_ "Praise" }}</button>
						{{else}}
							<button class="helpbtn">{{_ "Help" }}</button>
						{{/if}}</td>
				  </tr>
				{{/each }}
		    </table>
		  </div>
		  <br>
		</section>
		{{/if}}
	</div>
	<div id="detailed_report_view"> 
	</div>
</div>


