<div id="coach_report_wrapper">
	<div id="summary_mainview">
		<h1 class="status_name">{{ status.facility_name }}{{#if status.group_name }}: {{ status.group_name }}{{/if}}{{#if data.learner_events }}<button id="show_tabular_report" class="btn btn-success pull-right">{{_ "Show Tabular Report" }}</button>{{/if}}</h1>
		<h3>{{#if start_date}}{{ start_date }}{{#if end_date }} → {{ end_date }}{{/if}}{{else}}{{_ "This week" }}{{/if}}</h3>
		<div id="radial_chartblock" class="container">
			<div id="chartcontainer" class="row">
				<div class="circlechart" class="col-sm-4">
					<div id="full_circle1">
						<p id="full_circle1_p"></p>
					</div>
					<div class="charttext">
						{{_ "Hours spent on content vs total hours logged" }}
					</div>
				</div>
				<div class="circlechart" class="col-sm-4">
					<div id="full_circle2">
						<p>{{#if data.exercise_mastery }}{{ data.exercise_mastery }} %{{else}}{{_ "N/A" }}{{/if}}</p>
					</div>
					<div class="charttext">
						{{_ "Average progress in exercises" }}
					</div>
				</div>
				<div class="circlechart" class="col-sm-4">
					<div id="full_circle3">
						<p>{{#if data.exercise_attempts }}{{ data.exercise_attempts }}{{else}}{{_ "N/A" }}{{/if}}</p>
					</div>
					<div class="charttext">
						{{_ "Total exercise attempts" }}
					</div>
				</div>
			</div>
		</div>
		{{#if learners }}
		<section>	
		<h1>{{_ "Student Activity Feed" }}</h1>
		  <div class="panel-container">	
		    <table class="panel">
		        {{#each learners }}
				  <tr>
				  	<th>{{ learner }}</th>
		            <td>{{#if struggling }}{{_ "Struggling" }}{{ else }}{{#if complete }}{{_ "Complete" }}{{/if}}{{/if}}</td>
					<td><a href="{{url "learn" }}{{ path }}">{{ exercise.title }}</a></td>  
					<td>{{ progress }}</td>  
					<td>{{#if complete }}
							<button class="praisebtn">{{_ "Praise" }}</button>
						{{else}}
							<button class="helpbtn">{{_ "Help" }}</button>
						{{/if}}</td>
				  </tr>
				{{/each }}
		    </table>
		  </div>
		  <br>
		</section>
		{{/if}}
	</div>
	<div id="detailed_report_view">
	</div>
</div>


