<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>

                        {{#if dubs_available }}
                            <select class="content-language-selector">
                                {{#each availability }}
                                <option value="{{ @key }}" {{#ifcond @key "==" ../selected_language }}selected{{/ifcond}}>
                                    {{ language_name }}
                                </option>
                                {{/each}}
                            </select>
                        {{/if}}

                        <span class="title">{{ title }}</span>

                        {{#if description }}
                        </br><small class="long-description">{{ description }}</small>
                        {{/if}}
                        
                        <div class="points-wrapper pull-right"></div>

                    </h3>
                </div>
                <div class="panel-body">
                    <div class="content-player-container"></div>
                </div>
                <div class="panel-footer">
                    <h5>
                        Related content:
                    </h5>
                    {{#if related_content}}
                    <div class="row">
                        {{#each related_content }}
                            <div class="col-xs-4">
                                <a href="/learn/{{ path }}" title="{{description}}" class="btn btn-success btn-related-content">
                                    <div class="related-content-header">
                                        {{#ifcond kind "==" "Video"}}
                                        <span class="icon-video"></span>
                                        {{/ifcond}}
                                        {{#ifcond kind "==" "Exercise"}}
                                        <span class="icon-exercise"></span>
                                        {{/ifcond}}
                                        {{#ifcond kind "==" "Quiz"}}
                                        <span class="icon-quiz"></span>
                                        {{/ifcond}}
                                        {{#ifcond kind "==" "Topic"}}
                                        <span class="icon-list"></span>
                                        {{/ifcond}}
                                        {{#ifcond kind "==" "Audio"}}
                                        <span class="icon-audio"></span>
                                        {{/ifcond}}
                                        {{#ifcond kind "==" "Document"}}
                                        <span class="icon-document"></span>
                                        {{/ifcond}}
                                        <span class="related-content-title">{{ title }}</span>
                                    </div>
                                    <div class="related-content-body">
                                        <p>
                                            {{#truncate description 100 }}{{/truncate}}
                                        </p>
                                    </div>
                                </a>
                            </div>
                        {{/each}}
                    </div>
                    {{else}}
                        <p>No related content</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>  
</div>