<h3>{{_ "Listening to: " }}{{ title }}</h3>
<audio src="{{ content_urls.stream }}" />
<div class="audio-details"><div class="audio-description">{{ description }}</div><div class="audio-points-wrapper">{{_ "Points: " }}</div>