<label for="group-select">{{_ "Group" }}</label>
<select id="group-select">
    {{#if groups}}
        <option value="">{{_ "All" }}</option>
        {{#each groups}}
            <option value="{{ id }}">{{ name }}</option>
        {{/each}}
    {{else}}
        <option value="" selected>{{_ "No groups" }}</option>
    {{/if}}
</select>