<div class="row">
    <div class="col-md-6 col-xs-12">
        <ul id="legend">
            <li class="legend"><div class="partial"></div><span>{{_ "In Progress" }}</span></li>
            <li class="legend"><div class="complete"></div><span>{{_ "Completed" }}</span></li>
            <li class="legend"><div class="struggle"></div><span>{{_ "Struggling" }}</span></li>
        </ul>
    </div>
</div>
<div class="row">
	<div class="col-md-12">
		{{#if students}}
			<div id="displaygrid">
				<div class="users-table">
					<table class="table table-striped table-bordered">
						<tbody>
							<tr>
								<th class="headrowuser">
									{{_ "Learner"}}
									<!--for loop from partials report-->
									{{#each exercises}}
										 <th class="headrow data">
                        					<div>
                        						<a href="{% url 'learn' %}{{ path }}" title='"{{_ display_name }}"{{#if description }} {{_ description }}){{/if }}'>{{_ title }}</a>
                        					</div>
                    					</th>
									{{/each}}
								</th>
							</tr>
							<!-- for loop area -->
							{{#each students}}
								<tr>
									<th class="username">
										<span title="{{ name }} ({{ username }})">
											<div class="student-name">
												<a href="{% url 'student_view' %}?user={{ id }}">{{ name }}</a>
											</div>
										</span>
									</th>	
									<!--second for loop for exercises-->
									{{#each ../exercises}}
									 	{{#withItem ../exercise_logs key=this.slug}}
											{{#unless this}}
					                            <td class="status data" title="{{_ "Not Attempted" }}">

						                        {{ else }}
							                        {{#if this.struggling }}
							                            <td class="status data struggle" title="{{_ "Struggling" }}">
							                        {{/if}}

							                        {{#if this.complete }}
							                            <td class="status data complete" title="{{_ "Complete" }}">
							                        	{{ else }}
							                            	<td class="status data partial" title="{{_ "Attempted" }}">
							                        {{/if}}
							                            </td>
						                    {{/unless}}
					                    {{/withItem}}
									{{/each}} <!-- end inner for loop for exercises -->
								</tr>
							{{/each}} <!-- end outer for loop for students-->
						</tbody>
					</table>
					<div style="clear: both;">
					</div>
				</div>
			</div>
        {{/if}} 
	</div>
</div>
<!-- end block report content-->