<div class="login">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal">
            {{#if facilities}}
            <div class="form-group form-group-lg">
              <label class="col-sm-3 control-label h3" for="login-facility" id="login-facility-addon">{{_ "Facility" }}</label>
              <div class="col-sm-9">
                <select class="form-control input-lg" id="login-facility" aria-describedby="login-facility-addon">
                  {{#each facilities}}
                    <option value="{{this.id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            </br>
            {{/if}}
            <div class="form-group form-group-lg">
              <label class="col-sm-3 control-label h3" for="login-username" id="login-username-addon">{{_ "Username" }}</label>
              <div class="col-sm-9">
                <input type="text" class="form-control input-lg" id="login-username" placeholder="Username" aria-describedby="login-username-addon">
              </div>
            </div>
            </br>
            <div class="form-group form-group-lg" id="login-password-container" {{#if simplified_login}}style="display: none;"{{/if}}>
              <span class="col-sm-3 control-label h3" for="login-password" id="login-password-addon">{{_ "Password" }}</span>
              <div class="col-sm-9">
                <input type="password" class="form-control input-lg" id="login-password" aria-describedby="login-password-addon">
              </div>
            </div>
            </br>
            </form>
            <button class="login-btn btn btn-lg btn-primary" type="submit">{{_ "Login" }}</button>
            {{#if simplified_login}}
              <button class="password-btn btn btn-danger" disabled type="submit">{{_ "Admin" }}/{{_ "Coach" }}</button>
            {{/if}}
        </div>
    </div>
</div>