
  <li class="admin-toggle"><a href="/coachreports/table/"{{!-- id="nav_coachreports"--}}>{{_ "Teach" }}</a></li>

  <li class="admin-manage admin-toggle"><a href="/management/zone">{{_ "Manage" }}</a></li>

  <li class="teacher-manage admin-toggle"><a href="/management/zone">{{_ "Manage" }}</a></li>

  {{!-- Learn for all --}}
  <li id="nav-handlebars"><a href="/learn" id="nav_learn" class="home-navlink">{{_ "Learn" }}</a></li>

  {{!-- Login --}}
  <li><a href="#" class="not-logged-in-only" data-toggle="modal" data-target="#loginModal" title="" id="nav_login">{{_ "Login" }}</a></li>
  <li><a href="" id="nav_signup" class="not-logged-in-only" title="">{{_ "Sign Up" }}</a></li>

  <hr class="nav-divider">
  <hr class="nav-divider admin-only">

  {{!-- Farthest right nav is logged in user dropdown --}}
  <li class="dropdown " id="user-name">
    <a href="#" class="logged-in-only dropdown-toggle" data-toggle="dropdown" id="user-name-a">
        <span id="username">{{!-- Username injected here w/ js --}}</span>
      <span class="caret hidden-xs"></span>
    </a>

    <ul class="dropdown-menu" data-no-collapse="true" role="menu">
      <li class="student-only" role="presentation">
        <span class="student-only" id="points">
          {{!-- Points injected here w/ js --}}
        </span>
      </li>
      <li role="presentation" class="divider student-only"></li>
      {{!-- Student account management --}}
      <li role="presentation" class="motivational-feature student-only">
        <a role="menuitem" tabindex="-1" href="" id="nav_progress" title="" class="student-only">
          {{_ "My Progress" }}
        </a>
      </li>
      <li role="presentation" class="divider student-only"></li>
      {{!-- Logout goes at the bottom! --}}
      <li role="presentation" id="logout">
        <a role="menuitem" tabindex="-1" id="nav_logout" class="logged-in-only" title="" href="#">
          {{_ "Logout" }}
        </a>
      </li>
    </ul>
  </li>