
  <li class="teacher admin display-none" id="search-prepend"><a href="/coachreports/table/"{{!-- id="nav_coachreports"--}}>{{_ "Teach" }}</a></li>

  <li class="admin display-none"><a href="/management/zone">{{_ "Manage" }}</a></li>

  <li class="teacher display-none"><a href="/management/zone/None/facility/{{ facility_id }}/management/">{{_ "Manage" }}</a></li>

  {{!-- Learn for all --}}
  <li id="nav-handlebars" class="learn-tab display-none"><a href="/learn" id="nav_learn" class="home-navlink">{{_ "Learn" }}</a></li>

  {{!-- Login --}}
  <li><a href="#" class="guest display-none" data-toggle="modal" data-target="#loginModal" title="" id="nav_login">{{_ "Login" }}</a></li>
  <li><a href="" id="nav_signup" class="guest display-none" title="">{{_ "Sign Up" }}</a></li>

  <hr class="nav-divider">
  <hr class="nav-divider admin display-none">

  {{!-- Farthest right nav is logged in user dropdown --}}
  <li class="dropdown " id="user-name">
    <a href="#" class="logged-in display-none dropdown-toggle" data-toggle="dropdown" id="user-name-a">
        <span id="username">{{!-- Username injected here w/ js --}}</span>
      <span class="caret hidden-xs"></span>
    </a>

    <ul class="dropdown-menu" data-no-collapse="true" role="menu">
      <li class="student display-none" id="points-tab" role="presentation">
        <span class="student display-none" id="points">
          {{!-- Points injected here w/ js --}}
        </span>
      </li>
      <li role="presentation" class="divider student display-none"></li>
      {{!-- Student account management --}}
      <li role="presentation" class="motivational-feature student display-none">
        <a role="menuitem" tabindex="-1" href="" id="nav_progress" title="" class="student display-none">
          {{_ "My Progress" }}
        </a>
      </li>
      <li role="presentation" class="divider student display-none"></li>
      {{!-- Logout goes at the bottom! --}}
      <li role="presentation" id="logout">
        <a role="menuitem" tabindex="-1" id="nav_logout" class="logged-in display-none" title="" href="#">
          {{_ "Logout" }}
        </a>
      </li>
    </ul>
  </li>