{{#if is_admin }}
  <li class="teach-tab"><a href="/coachreports/table/">{{_ "Teach" }}</a></li>
  <li class="manage-tab"><a href="/management/zone/None/{{#unless is_django_user }}facility/{{ facility_id }}/management/{{/unless}}">{{_ "Manage" }}</a></li>
{{/if}}
{{!-- Learn for all --}}
  <li id="nav-handlebars" class="learn-tab"><a href="/learn" id="nav_learn" class="home-navlink">{{_ "Learn" }}</a></li>
{{!-- Login --}}
{{#unless is_logged_in}}
  <li><a href="#" data-toggle="modal" data-target="#loginModal" id="nav_login">{{_ "Login" }}</a></li>
  <li><a href="/securesync/signup/" id="nav_signup">{{_ "Sign Up" }}</a></li>
{{/unless}}

  <hr class="nav-divider">
{{#if is_admin}}
  <hr class="nav-divider">
{{/if}}

{{!-- Farthest right nav is logged in user dropdown --}}
{{#if is_logged_in}}
  <li class="dropdown " id="user-name">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="user-name-a">
        <span id="username">{{!-- Username injected here w/ js --}}</span>
      <span class="caret hidden-xs"></span>
    </a>

    <ul class="dropdown-menu" data-no-collapse="true" role="menu">
    {{#unless is_admin}}
      <li id="points-tab" role="presentation">
        <span id="points">{{!-- Points injected here w/ js --}}</span>
      </li>
      <li role="presentation" class="divider"></li>
      {{!-- Student account management --}}
      <li role="presentation" class="motivational-feature">
        <a role="menuitem" tabindex="-1" id="nav_progress">
          {{_ "My Progress" }}
        </a>
      </li>
      <li role="presentation" class="divider"></li>
    {{/unless}}
      {{!-- Logout goes at the bottom! --}}
      <li role="presentation" id="logout">
        <a role="menuitem" tabindex="-1" id="nav_logout" href="#">
          {{_ "Logout" }}
        </a>
      </li>
    </ul>
  </li>
{{/if}}